<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hand-and-Foot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82F698471C1738A200A97238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82F6985F1C1738A300A97238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82F6986A1C1738A300A97238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
